.profile-container {
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
    background-image: url('../../assets/Home/bg.jpg');
    background-size: cover;
}

.profile-main{
    display: flex;
    align-items: center;
    color:aliceblue;
}

.profile-roles{
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
}

.profile-roles h1{
    font-size: 45px;
    /* font-family: ; */
}

.profile-name{
    font-size: 26px;
    /* font-family: ; */

}
.gitHub{
    width: 10%;
}
.linkedIn{
    width: 10%;
}

.primary-text{
    color:aliceblue
}

.role-description {
    font-size: 25px;
    margin: 5px 0 0 0;
}

.profile-optins {
    margin: 0 0 0 28px; 
}

.profile-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0pc white;
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0 0px 0 100px;
}

.Profile-pic-back{
    height: 92%;
    width: 92%;
    background-image: url("../../assets/Home/me.jpg");
    background-size: cover;
    border-radius: 50%;
    
}

.Profile-pic-back:hover{
    transform: scale(1.05);
    transition: all 0.8s;
}



@media screen and (max-width: 1110px){
    .profile-pic{
        margin: 0 0px 0 80px;
    }
    .profile-name{
        font-size: 20px;
    }
    .profile-roles .primary-text{
        font-size: 12px;
    }
    .btn {
        width: 120px;
        padding: 11px 0;
        z-index: 700;
    }
}

@media screen and (max-width: 910px){
    .profile-pic{
        height: 320px;
        width: 320px;
        margin: 0 0px 0 4px;
    }

}
@media screen and (max-width: 810px){
    .profile-pic{
        margin: 0 !important;
    }
.profile-main{
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
}
.profile-optins{
    display: flex;
    justify-content: space-between;
}
.profile-optins,
.profile-roles{
    text-align: center;
}
}

@media screen and (max-width: 375px){
.profile-pic{
    height:275px;
    width:275px;
    margin-top: -90px;
}
.profile-roles {
    width:90%;
}
}