

.app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.p-text {
    font-size: 0.8rem;
    text-align: left;
    color: var(--gray-color);
    line-height: 1.5;
}
    /* @media screen and (min-width: 2000px) {
      font-size: 1.75rem;
    }
  } */
  
.app__navbar{
    width: 100;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px soild rgba(255,255,255,.20);
    position: relative; 
    z-index: 2;

}


.app__navbar_links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.li__nav {
    margin: 0 1rem;
    cursor: pointer;
    flex-direction: column;
}

.e__div{
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  margin-bottom: 5px;
}

a{
  color: gray;
  text-decoration: none;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 1.8s ease-in-out;
}

a:hover{
  color: black
}


@media screen and (max-width: 900px) {
  .app__navbar_links{
    display: none;
  }
}
  
.Mobile__nav{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(109, 109, 109);
  background-color: gray;



}
svg {
    width: 70%;
    height: 70%;
    color: rgb(113, 113, 113);

  }
.motion_div {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 5vh;
  z-index: 5;
  padding: 2.1rem;
  width: 20%;
  height: 40vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.37);
  text-align: center;

}
.svg_moblie{
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 133%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: black;


}

.mobile_li {
  margin: 1rem;
}

@media screen and (min-width: 900px) {
  .Mobile__nav{
    display: none;
  }
}

@media screen and (max-width: 1110px){
  .profile-pic{
      margin: 0 0px 0 80px;
  }
  .profile-name{
      font-size: 20px;
  }
  .profile-roles .primary-text{
      font-size: 12px;
  }
  .btn {
      width: 120px;
      padding: 11px 0;
      z-index: 700;
  }
}






@media screen and (max-width: 375px){
  .motion_div{
    width:150px;
      margin: 0 !important;
  

}

}